@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenAI Chatbot Workshop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-list@2.1.0/css/bulma-list.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.10.0/build/styles/atom-one-light.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="container is-fluid">
        <div class="columns">
            <!-- Sidebar for Conversations -->
            <div class="column is-one-quarter" id="sidebar">
                <button class="button is-primary is-fullwidth mb-2" id="new-conversation-btn">New Conversation</button>
                <div class="list has-hoverable-list-items has-visible-pointer-controls" id="conversation-history">                    
                </div>
            </div>

            <!-- Chat Area -->
            <div class="column is-three-quarter">
                <section id="chat-section" class="box">
                    <div id="chat-messages" class="content"></div>
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" id="message-input" placeholder="Type a message...">
                        </div>
                        <div class="control">
                            <div class="file is-info">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="file" id="file" multiple />
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="control">
                            <button class="button is-primary" id="send-btn">Send</button>
                        </div>
                    </div>
                    <div id="file-tags">

                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@6.6.0/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@8.0.7/dist/browser/signalr.min.js"></script>
    <script src="js/index.js" type="module"></script>
</body>
</html>
